@page "/cvcheck"

<h1> placeholder </h1>
<p> ladda upp en fil i textrutan s책 kommer du f책 ett svar p책 om det 채r mitt cv/pb eller inte... </p>

<InputFile OnChange="@LoadFiles" multiple />

@code {
    private void LoadFiles(InputFileChangeEventArgs e)
    {
        await using FileStream fs = new(path, FileMode.Create);
        await browserFile.OpenReadStream().CopyToAsync(fs);
    }
}