@page "/cvcheck"

<h1> placeholder </h1>
<p> ladda upp en fil i textrutan s책 kommer du f책 ett svar p책 om det 채r mitt cv/pb eller inte... </p>

<InputFile OnChange="@SingleUpload" />

@code {
    @using System.IO
    private async Task SingleUpload(InputFileChangeEventArgs e)
    {
        
       MemoryStream ms = new MemoryStream();
       await e.File.OpenReadStream().CopyToAsync(ms);
       var bytes = ms.ToArray();
       //do something with bytes
    }
}