@page "/cvcheck"

<h1> placeholder </h1>
<p> ladda upp en fil i textrutan s책 kommer du f책 ett svar p책 om det 채r mitt cv/pb eller inte... </p>

<InputFile OnChange="@SingleUpload" />

@if (filstring.Length > 0)
    {
        <p>hash = : @filstring</p>
    }

@code {
    private byte[] filstring;
    @using System.IO
    private async Task SingleUpload(InputFileChangeEventArgs e)
    {
       MemoryStream ms = new MemoryStream();
       await e.File.OpenReadStream().CopyToAsync(ms);
       
       filstring = Services.PageHelpers.GetHash(ms.ToString());
       //do something with bytes
    }
}