@page "/"

@using Microsoft.AspNetCore.WebUtilities
@using myspace.Extensions

@inject NavigationManager NavManager

<h1>Välkommen</h1>
<p>Till min egen hemsida. </p>
<p>Den är byggd uppepå microsofts blazor demoapp och hostas på github. </p>
<p>Jag kommer inte lägga ner allt för mycket tid här då jag inte aspirerar att bli webbutvecklare =) </p>


@code {
    public string redirectURL = "";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            GetURL();
            if (!String.IsNullOrEmpty(redirectURL))
            {
                NavManager.NavigateTo(redirectURL);
            }
        }
    }

    void GetURL()
    {
        redirectURL = NavManager.QueryString("redirectURL");
    }
}

<p>plats för stickers:</p>


<img style="max-width: 900px;" src="https://www.emacswiki.org/pics/static/EmacsSplashScreen.png" />
<img style="max-width: 900px;" src="https://www.emacswiki.org/pics/static/GnuHead.png" /><br>
<img style="max-width: 450px;" src="https://bitcoin.org/img/icons/logotop.svg?1630339663" />


<!--
<img style="max-width: 900px;" src="" />
<img style="max-width: 900px;" src="" />
<img style="max-width: 900px;" src="" />
<img style="max-width: 900px;" src="" />
-->
