@page "/"

@using Microsoft.AspNetCore.WebUtilities
@using myspace.Extensions

@inject NavigationManager NavManager

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    public string redirectURL = "";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            GetURL();
            if (!String.IsNullOrEmpty(redirectURL))
            {
                NavManager.NavigateTo(redirectURL);
            }
        }
    }

    void GetURL()
    {
        redirectURL = NavManager.QueryString("redirectURL");
    }
}

<img style="max-width: 900px;" src="https://bitcoin.org/img/icons/logotop.svg?1630339663" />