@page "/"

@using Microsoft.AspNetCore.WebUtilities
@using myspace.Extensions

@inject NavigationManager NavManager

<h1>Välkommen</h1>
<p>Till min egen hemsida. </p>
<p>Den är byggd uppepå microsofts blazor-demo app och hostas på github. </p>
<p>Jag kommer inte lägga ner allt för mycket tid här då jag inte aspirerar att bli webbutvecklare =) </p>


@code {
    public string redirectURL = "";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            GetURL();
            if (!String.IsNullOrEmpty(redirectURL))
            {
                NavManager.NavigateTo(redirectURL);
            }
        }
    }

    void GetURL()
    {
        redirectURL = NavManager.QueryString("redirectURL");
    }
}

<p>plats för stickers:</p>

<img style="max-width: 900px;" src="https://bitcoin.org/img/icons/logotop.svg?1630339663" />
<img style="max-width: 900px;" src="https://www.emacswiki.org/pics/static/EmacsSplashScreen.png" />
<img style="max-width: 900px;" src="https://www.emacswiki.org/pics/static/GnuHead.png" />

<p>pls donate jag är fattig student</p>
<form action="https://www.paypal.com/donate" method="post" target="_top">
<input type="hidden" name="hosted_button_id" value="GBJ4S28QCHF5W" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_SE/i/scr/pixel.gif" width="1" height="1" />
</form>


<!--
<img style="max-width: 900px;" src="" />
<img style="max-width: 900px;" src="" />
<img style="max-width: 900px;" src="" />
<img style="max-width: 900px;" src="" />
-->
